.main {
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: beige; */
    margin-top: 10px;
}

.people {
    margin-top: 50px;
}

.person {
    /* background-color:rgb(221, 227, 236); */
    min-width: 250px;
    max-width: fit-content;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.icon {
    transform: scale(1.5);
    margin: 10px 10px 10px 10px ;
    display: inline-flex;
    vertical-align: middle;
}